.File {
  display: block;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
  color: inherit;
  background-color: transparent;
  transition: background-color .2s;

  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.File:hover {
  background-color: #fafafa;
}

.File__icon {
  font-size: 3rem;
  color: #eee;
}

.File__icon--music {
  color: #4bbef9;
}
